# Electron 国内镜像（无警告版）
electron_mirror = https://npmmirror.com/mirrors/electron/
electron-builder-binaries_mirror = https://npmmirror.com/mirrors/electron-builder-binaries/

# npm 源（加速下载）
registry = https://registry.npmmirror.com